<!doctype html>
<html lang="en">
	@@include('sections/head.html', { 'title': 'Hireload - Home' })

	<body class="home">
		@@include('sections/header.html')

		<section class="home-welcome" data-motion>
			<div class="wrapper">
				<h2 class="head-1 has-wave motion-bottom"><span>Assembling Professional Crew to Let Your Business Sail Faster</span></h2>

				<div class="flex flex-col flex-lg-row justify-content-between align-items-lg-center">
					<h4 class="head-4 mb-20 mb-lg-0 motion-bottom" data-delay="2">Struggling to find and attract professionals while expanding your team? We are here to help you get them onboard!</h4>

					<div class="flex flex-col flex-md-row w-100 justify-content-lg-end">
						<div class="home-welcome-goal mb-20 mb-md-0 mr-md-20 flex flex-md-col align-items-center align-items-md-baseline motion-left" data-delay="2">
							<div class="subtitle text-bold mr-10 mr-md-0">500+</div>
							<p>professionals hired</p>
						</div>
						<div class="home-welcome-goal mb-20 mb-md-0 mr-md-20 flex flex-md-col align-items-center align-items-md-baseline motion-left" data-delay="3">
							<div class="subtitle text-bold mr-10 mr-md-0">50 000+</div>
							<p>worldwide database</p>
						</div>
						<div class="home-welcome-goal flex flex-md-col align-items-center align-items-md-baseline motion-left" data-delay="4">
							<div class="subtitle text-bold mr-10 mr-md-0">10+</div>
							<p>industries covered</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="home-team" data-motion>
			<div class="wrapper flex justify-content-around align-items-center flex-col flex-lg-row">
				<h2 class="head-1 hidden-lg mb-40 text-center motion-bottom">Let’s build <br><mark>a dream team</mark> for your business!</h2>

				<div class="home-team-photos">
					@@for (let i = 0; i < 6; i++) {<div></div>}

					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 333 434">
						<path stroke="#27FDFD" stroke-linecap="round" stroke-width="20" d="M10.193 380.095c34.662 19.778 111.1 55.356 139.554 39.442 35.567-19.892-54.665-114.073-94.063-200.397-39.398-86.323 174.355 22.263 253.608 7.882 79.253-14.381-229.68-216.92-71.653-217.499"/>
					</svg>
				</div>

				<div class="home-team-cards">
					<h2 class="head-1 hidden visible-lg motion-bottom">Let’s build <br><mark>a dream team</mark> for your business!</h2>

					<div class="home-team-card motion-bottom" data-delay="1">
						<div class="subtitle">Tell us who you need</div>
						<p>Set the requirements for the candidates and how they will work for you (part-time, full-time, fully remotely/hybrid, according to contract, etc).</p>
					</div>

					<div class="home-team-card motion-bottom hidden-lg" data-delay="2">
						<div class="subtitle">Make a choice</div>
						<p>We search the market for candidates mapped to your requirements and shortlist the best ones. Review the list and decide who you want to have interviews with.</p>
					</div>

					<div class="home-team-card motion-bottom hidden-lg" data-delay="3">
						<div class="subtitle">Get a professional</div>
						<p>We’ll arrange the interview, help you with candidate assessment and sorting out important worklabor-related questions.</p>
					</div>
				</div>
			</div>
		</section>

		<section class="home-agency" data-motion>
			<div class="wrapper flex flex-col flex-lg-row">
				<div class="home-agency-wrap mb-40 mb-lg-0 mr-lg-30">
					<h2 class="head-1 mb-10 mb-lg-20 motion-bottom"><mark>The Agency</mark> You’ve Always Wanted</h2>
					<h3 class="head-3 mb-20 mb-lg-40 text-accent motion-bottom" data-delay="2">Less Noise, More Results!</h3>
					<p class="subtitle motion-bottom" data-delay="4">We’ve developed our own unique working algorithms and employed workflow automation so that our processes include less steps but deliver much better results and candidate experience. We focus on what really matters to provide you with the best talent you need.</p>
				</div>

				<div class="home-agency-principles flex flex-col justify-content-between align-items-center align-self-center">
					<div class="home-agency-principle flex text-left motion-out" data-delay="13">
						<svg class="svg-icon mr-10">
							<use xlink:href="img/sprite.svg#people"/>
						</svg>
						Individual approach
					</div>

					<div class="flex justify-content-between align-items-center w-100">
						<div class="home-agency-principle flex flex-col flex-md-row align-items-center w-25 w-md-a motion-out" data-delay="9">
							<svg class="svg-icon mb-10 mr-md-10 mb-md-0">
								<use xlink:href="img/sprite.svg#location"/>
							</svg>
							Focused on results
						</div>

						<div class="head-3 text-bold text-center motion-in" data-delay="3" data-time="5">Our Work <br>Principles</div>

						<div class="home-agency-principle flex flex-col flex-md-row align-items-center w-25 w-md-a motion-out" data-delay="1">
							<svg class="svg-icon mb-10 mr-md-10 mb-md-0">
								<use xlink:href="img/sprite.svg#globe"/>
							</svg>
							Worldwide expertise
						</div>
					</div>

					<div class="home-agency-principle flex text-left motion-out" data-delay="3">
						<svg class="svg-icon mr-10">
							<use xlink:href="img/sprite.svg#lightning"/>
						</svg>
						Maximum involvement
					</div>

					<svg class="home-agency-circle" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 371 371">
						<circle cx="185" cy="185" r="175" stroke="#27FDFD" stroke-linecap="round" stroke-width="20"/>
					</svg>
				</div>
			</div>
		</section>

		<section class="home-rare" data-motion>
			<div class="wrapper flex justify-content-between align-items-center flex-col flex-lg-row">
				<h2 class="home-rare-wrap head-1 mb-20 mb-lg-0 mr-lg-60 motion-left">
					From popular <br> to rare <mark>Niche Professionals,</mark> we work across Industries
				</h2>

				<div class="home-rare-wrap">

					<div class="head-4 text-bold mb-40 mb-md-20 motion-bottom" data-delay="2">Optimize your hiring, reduce cost per hire, and reach unique professionals easily no matter what industry you are working in.</div>

<!--					<p class="subtitle mb-40 mb-md-20 motion-bottom" data-delay="2">With over 5+ years of experience, we’ve helped more than 55 businesses across various industries to build strong professional teams full of dedicated, skillful professionals. Optimize your hiring, reduce cost per hire, and reach unique professionals easily no matter what industry you are working in: IT, sales, marketing & advertising, media, eCommerce, fintech and more!</p>-->

					<div class="subtitle text-bold mb-5 motion-bottom" data-delay="3">Popular Recruiting sectors include:</div>

					<div class="home-rare-badges motion-bottom" data-delay="3">
						<span class="badge">Digital</span>
						<span class="badge">Adtech</span>
						<span class="badge">Fintech</span>
						<span class="badge">Sales</span>
						<span class="badge">Marketing</span>
						<span class="badge">E-Commerce</span>
						<span class="badge">Martech</span>
						<span class="badge">RTB</span>
						<span class="badge">Management</span>
						<span class="badge">Finance</span>
<!--						<span class="badge">IT</span>-->
<!--						<span class="badge">Business Support</span>-->
<!--						<span class="badge">Multilingual</span>-->
<!--						<span class="badge">Engineering</span>-->
<!--						<span class="badge">Life Sciences</span>-->
<!--						<span class="badge">Finance</span>-->
<!--						<span class="badge">Accountancy</span>-->
<!--						<span class="badge">Retail</span>-->
<!--						<span class="badge">Luxury</span>-->
<!--						<span class="badge">Martech</span>-->
					</div>
				</div>
			</div>
		</section>

		<section class="home-roles" data-motion="">
			<div class="wrapper">
				<div class="flex justify-content-center justify-content-md-between align-items-center mb-30 mb-md-40">
					<div class="flex align-items-center">
						<h2 class="head-1 mr-md-30 motion-bottom">Latest <mark>Roles</mark></h2>
						<img src="img/home/home-roles-arrow.svg" alt="Latest Roles" class="hidden visible-lg motion-bottom" data-delay="2">
					</div>
					<a href="/careers.html" class="btn hidden visible-md motion-right" data-delay="3">View all roles</a>
				</div>

				<div class="home-roles-cards motion-bottom" data-delay="4">
					@@for (let j = 0; j < 3; j++) {
						@@include('sections/role-card.html', { 'isDark': false })
					}

					<div class="text-center">
						<a href="#" class="btn w-100 w-md-a">Show more</a>
					</div>
				</div>
			</div>
		</section>

		@@include('sections/footer.html')
	</body>
</html>