.contacts {

    .footer {
        @extend %footer-dark;
    }

    &-welcome {
        @extend %p-60-100;

        .head-0 {
            max-width: 670px;

            @include media(md) {
                max-width: 470px;
            }

            @include media(xl) {
                font-size: rem(100);
                line-height: rem(96);
                max-width: 670px;
            }
        }

        .head-4 {
            @include media-max(md) {
                max-width: 470px;
            }
        }

        form {
            max-width: 470px;
        }
    }
}