.service {

    &-welcome {
        background: $color-dark url('../img/service/service-bg.jpg') no-repeat 70% 50% / cover;
        color: $color-white;
        position: relative;
        padding: 40px 0;
        overflow: hidden;

        @include media(md) {
            padding: 115px 0;
            background-position: 50% 0;
        }

        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            background: linear-gradient(80deg, rgba($color-dark, .9), rgba($color-dark, .2));

            @include media(md) {
                background: linear-gradient(-110deg, rgba($color-dark, 0) 10%, $color-dark);
            }
        }

        .head-0 {
            max-width: 630px;
            margin-bottom: 170px;

            @include media(md) {
                margin-bottom: 40px;
            }
        }

        .head-5 {
            max-width: 560px;
        }

        .head-1, .head-5, .head-0 {
            position: relative;
            z-index: 1;
        }

        .wrapper {
            position: relative;

            .wave {
                position: absolute;

                &-1 {
                    top: 300px;
                    right: -40px;

                    @include media(lg) {
                        top: 280px;
                    }
                }

                &-2 {
                    top: -80px;
                    left: 40%;

                    @include media(lg) {
                        top: 30px;
                        left: 50%;
                    }
                }
            }
        }
    }

    &-work {
        background-color: $color-dark;
        padding: 60px 0;
        overflow: hidden;

        @include media(md) {
            padding: 100px 0;
        }

        .wrapper {
            position: relative;

            .wave {
                position: absolute;
                top: -120px;
                right: -90px;

                &-1 {
                    top: -120px;
                    right: -150px;
                }
            }

            &:before {
                //content: '';
                display: block;
                position: absolute;
            }

            &:before {
                background: url('../img/service/service-wave-4.svg') no-repeat;
                width: 354px;
                height: 1226px;
                top: -100px;
                right: -150px;

                @include media(md) {
                    background: url('../img/service/service-wave-3.svg') no-repeat;
                    height: 599px;
                    top: -30px;
                }

                @include media(lg) {
                    top: -100px;
                    right: -90px;
                }
            }
        }

        &-card {
            border: 1px solid $color-accent;
            background: linear-gradient(300deg, $color-dark 30%, rgba($color-dark, .8) 50%, rgba($color-dark, 0));
            padding: 30px;
            color: $color-white;
            margin: 10px 15px;
            @include radius(sm);

            @include media(md) {
                width: calc(33.33% - 30px);

                &:nth-child(4), &:nth-child(5) {
                    width: calc(50% - 30px);
                }
            }

            &s {
                margin: -10px -15px;
                position: relative;
                z-index: 1;
            }
        }
    }
}